// run this in terminal to compile automatically on save
// sass --watch input.scss styles.css



$font-stack: 'Caveat', cursive;
$background-color: #d3d3d3;


main {
  background-color: $background-color;
  font-family: $font-stack
}

body {
  background-color: $background-color;
}